* {
  box-sizing: border-box;
}

body {
  background-color: #d1cece9c;
}

.menu {
  float: left;
  width: 18%;
  height: max-content;
  margin: 10px 0 10px 0;
}

.menu_item {
  margin: 8px;
  height: 100%;
  width: 100%;
}

.card {
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 8px;
}

.crd3 {
  display: inline-block;
}

.show {
  float: left;
  height: 30%;
  width: 385px;
  margin-top: 1%;
  text-align: right;
  padding: 10px;
  margin-left: 2.2rem;
}

#showid {
  margin-left: 22rem;
}

.label {
  color: rgba(97, 97, 97, 0.694);
}

th {
  /* color: rgba(53, 52, 52, 0.694); */
  /* padding-left:10px; */
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 20px;
  ;
}

td {
  text-align: start;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 80px;
  font-size: 15px;
}

.table {
  position: absolute;
  width: 97%;
  top: 10%;
  margin-top: 150px;
}

.row {
  margin-top: 10%;
}

.dbord {
  float: left;
}

.logout {
  float: right;
  background-color: #d1cece9c;
  width: 200px;
  height: 50px;
}

.dashboard {
  position: relative;
  float: left;
  padding: 20px;
  width: 82%;
  height: 300px;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding-top: 20PX;
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
  background-color: rgb(236, 227, 209);
}

.button1 {
  border: none;
  color: white;
  padding: 16px 32px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5%;
  margin-right: 5%;
  transition-duration: 0.4s;
  cursor: pointer;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: whitesmoke;
  color: black;
  border: 2px #c3c3c3;
  width: 90%;
}

.active {
  background-color: #b9c0b9;
}

.button1:hover {
  background-color: #b9c0b9;
  color: black;
}

img {
  cursor: pointer;
  margin: -2px 7px -5px 0;
}

/* student report */

.studentreport {
  position: absolute;
  left: 3%;
  bottom: 97%;
  height: 60px;
  width: 94%;
  background: linear-gradient(90deg, rgba(255, 165, 0, 1) 0%, rgb(230, 0, 230) 100%);
  color: rgba(0, 0, 0, 0.934);
}

.stdtbl {
  position: relative;
}

/* .sttabel{
    margin-top:2%;
  } 
  position: relative;
    float: left;
    padding: 20px;
    width: 82%;
  */
.stdreportdrd {
  position: relative;
  float: left;
  padding: 20px;
  width: 82%;
}

/* view test */
.viewtbl {
  position: relative;
}

.viewtabledrd {
  position: relative;
  float: left;
  padding: 20px;
  width: 82%;
}

.viewtest {
  position: absolute;
  left: 3%;
  bottom: 96%;
  height: 60px;
  width: 94%;
  /* background-color:#afadad; */
  background: linear-gradient(90deg, rgba(255, 165, 0, 1) 0%, rgb(230, 0, 230) 100%);
  color: rgba(0, 0, 0, 0.934);
}

/* sign in */

.loginmain {
  width: 100%;
  height: 100%;
  position: relative;
}

.sign {
  float: left;
  width: 50%;
}

.sinlogo {
  position: absolute;
  bottom: 230px;
  left: 40%;
}

.signinform {
  float: left;
  width: 50%;
}

.formh1 {
  text-align: center;
  padding-top: 30%;
}

form {
  width: 300px;
  margin-left: 32%;
  margin-top: 4rem;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

.custom_input {
  width: 15%;
  margin: 5px 0 5px 0;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

form input {
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 12px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

select {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}

.para-2 {
  margin-left: 32%;
  font-size: 15px;
  margin-top: -10px;
}

/* create test */

.createtest {
  margin-top: 10%;
}

.createtest {
  position: relative;
}

.createtesthear {
  position: absolute;
  left: 3%;
  bottom: 90%;
  height: 60px;
  width: 94%;
  /* background-color:#afadad; */
  color: rgba(0, 0, 0, 0.934);
  background: linear-gradient(90deg, rgba(255, 165, 0, 1) 0%, rgb(230, 0, 230) 100%);
}

.createtesthear1 {
  position: absolute;
  left: 3%;
  bottom: 96%;
  height: 60px;
  width: 94%;
  /* background-color:#afadad; */
  color: rgba(0, 0, 0, 0.934);
  background: linear-gradient(90deg, rgba(255, 165, 0, 1) 0%, rgb(230, 0, 230) 100%);
}

.createtestform {
  padding: 50px;
}

.questionadd {
  position: absolute;
  left: 3%;
  bottom: 96%;
  height: 60px;
  width: 94%;
  background: linear-gradient(90deg, rgba(255, 165, 0, 1) 0%, rgb(230, 0, 230) 100%);
  color: rgba(0, 0, 0, 0.934);
}

.questionaddform {
  padding-top: 2%;
}

/* ----------------------- */
.cust_name {
  text-align: center;
  margin: 20px auto;
  font-family: 'Courier New', Courier, monospace;
}