{% extends 'admin_base.html' %}
{% load static %}
{% block content %}


            <div class="viewtabledrd">
                <div class="viewtabledrd">

                <div class="card createtest">
                    <div class="card createtesthear1">
                        <h3 class="createtesttitle" style="font-weight: bold;">&nbsp &nbsp &nbsp Add Student</h3>
                    </div>
                    <div class="createtestform">
                        <form method="POST">
                            {% csrf_token %}
                            <label>Enter name:</label>
                            <input type="text" placeholder="Enter Name" class="testtitle" id="testtitle" name="name"/ required>
                            <label>Enter Email:</label>
                            <input type="email" placeholder="Enter Email" class="totalquestion" id="totalquestion" required name="email" />
                            <label>Enter Enrollment Number:</label>

                            <input type="text" placeholder="Enter Enrollment" class="totalquestion" id="totalquestion" required name="enrollment" />
                            <label>Enter Password</label>
                            <input type="password" placeholder="Enter password" class="totalquestion" id="totalquestion" required name="password" />
   
                            <label>Enter Attendance</label>
                            <input type="number" max="12" min="0" placeholder="Enter Attendance" class="totalquestion" id="totalquestion" name="attendence" />

                            <label>Enter CGPA</label>
                            <input type="number" max="7" min="0" placeholder="Enter CGPPA" class="totalquestion" id="totalquestion" name="cgpa" />
                            
                            <label>Enter Rating</label>
                            <input type="number" max="10" min="0" placeholder="Enter review" class="totalquestion" id="totalquestion" name="review" />

                            <!-- <label>Enter Score</label>
                            <input type="number" placeholder="Enter Score" class="totalquestion" id="totalquestion" name="score" /> -->


                            <!-- <input type="password" placeholder="Enter Password" class="totalquestion" id="totalquestion" name="password" /><br><br> -->
                            <input type="submit" value="Add Student" />
                        </form>

                    </div>

                </div>
            </div>
        
        {% if s %}
        <script>
            alert('{{s}}')
        </script>
        {% else %}
        {% endif %}
    {% endblock %}