{% extends 'admin_base.html' %}
{% load static %}
{% block content %}

<div class="viewtabledrd">
    <div class="viewtabledrd">
        <div class="card createtest">
            <div class="card questionadd">
                <h3 class="questionaddtitle" style="font-weight: bold;">&nbsp &nbsp &nbsp Question Add</h3>
            </div>
            <div class="questionaddform">
                <form method="post">
                    {% csrf_token%}

                    <label>Select Category</label>

                    <select required name="category">
                        {% for i in al %}
                        {% ifequal i name1 %}
                        <option selected>{{i}}</option>
                        {% else %}
                        <option>{{i}}</option>
                        {% endifequal %}

                        {% endfor %}
                    </select>
                    <label>Write Question</label>
                    <input type="text" value="{{obj.question}}" placeholder="Enter Question" required
                        style="width: 300px; height: 30px;" class="questiontitle" id="questiontitle" name="question" />


                    <br>
                    <br>
                    <input type="submit" value="submit" />

                </form>
                </br>
            </div>

        </div>
    </div>

    {% endblock %}