{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employability.life | Dashboard </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css">
</head>

<body>
    <div class="layout has-sidebar fixed-sidebar fixed-header">
        <aside id="sidebar" class="sidebar break-point-lg has-bg-image">
            <div class="image-wrapper">
                <img src="{% static 'images/sidebar_banner.jpg' %}" alt="sidebar background" />
            </div>
            <div class="sidebar-layout">
                <div class="sidebar-header">
                    <span style="
                      text-transform: uppercase;
                      font-size: 15px;
                      letter-spacing: 3px;
                      font-weight: bold;
                    ">Student Dashboard</span>
                </div>
                <div class="sidebar-content">
                    <nav class="menu open-current-submenu">
                        <ul>

                            <li class="menu-item">
                                <a href="{% url 'stu_index' %}">
                                    <span class="menu-icon">
                                        <i class="ri-newspaper-fill"></i></span>
                                    <span class="menu-title">Test Status</span>
                                </a>
                            </li>
                            
                            <li class="menu-item">
                                <a href="{% url 'stu_allcat' %}">
                                    <span class="menu-icon">
                                        <i class="ri-newspaper-fill"></i></span>
                                    <span class="menu-title">View Test</span>
                                </a>
                            </li>
                            
                            <li class="menu-item">
                                <a href="{% url 'stu_result' %}">
                                    <span class="menu-icon">
                                        <i class="ri-newspaper-fill"></i></span>
                                    <span class="menu-title">View Result</span>
                                </a>
                            </li>


                            <li class="menu-item">
                                <a href="{% url 'stu_profile' %}">
                                    <span class="menu-icon">
                                        <i class="ri-user-fill"></i></span>
                                    <span class="menu-title">Profile</span>
                                </a>
                            </li>


                            <li class="menu-item">
                                <a href="{% url 'about' %}">
                                    <span class="menu-icon">
                                        <i class="ri-user-fill"></i></span>
                                    <span class="menu-title">About Us</span>
                                </a>
                            </li>


                            <li class="menu-item">
                                <a href="{% url 'contact' %}">
                                    <span class="menu-icon">
                                        <i class="ri-user-fill"></i></span>
                                    <span class="menu-title">Contact Us</span>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="sidebar-footer">
                    <a href="{% url 'student_logout_view' %}" class="menu">
                        <span class="menu-icon"><i class="ri-logout-box-line"></i></span>
                        <span class="menu-title">Logout</span>
                    </a>
                </div>
            </div>
        </aside>
        <div id="overlay" class="overlay"></div>
        <div class="layout">
            <header class="header">
                <a id="btn-collapse" href="#">
                    <i class="ri-menu-line ri-xl"></i>
                </a>
                <a id="btn-toggle" href="#" class="sidebar-toggler break-point-lg">
                    <i class="ri-menu-line ri-xl"></i>
                </a>
                <a href="" class="logo">
                    <img src="{% static 'images/logo.png' %}" width="250px" alt="">
                </a>
            </header>
            <main class="content">

                {% block content %} 
                
                
                {% endblock%}


<footer class="footer">
    <small style="margin-bottom: 20px; display: inline-block">
        © 2022 made with
        by - Name </a>
    </small>
</footer>
</main>
<div class="overlay"></div>
</div>
</div>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<script>
var xValues = ["Correct", "Wrong"];
var yValues = [50, 50];
var barColors = ["red", "green"];

var myChart = new Chart("myChart", {
type: "bar",
data: {
labels: xValues,
datasets: [{
    backgroundColor: barColors,
    data: yValues
}]
},
options: {
animations: {
    tension: {
        duration: 1000,
        easing: 'linear',
        from: 1,
        to: 0,
        loop: true
    }
},
legend: {
    display: false
},
title: {
    display: true,
    text: "Test Result"
},
scales: {
    yAxes: [{
        ticks: {
            beginAtZero: true,
            max: 100
        }
    }]
}
}
});
</script>
</body>

</html>