{% extends 'stu_base.html' %}
{% load static %}
{% block content %}
<div class="question">
    <div>
        <h3>Test Category</h3>
    </div>

    <div class="row" style="display:flex;">
        {% for i in allcat %}
        <div style="margin: 5px 30px 5px 0;">
            <!-- <button class="btn btn-primary"><a href="{% url 'stu_question' i.id %}">{{i.name}}</a></button> -->
            <a class="btn btn-primary" href="{% url 'stu_question' i.id %}">{{i.name}}</a>
        </div>
        <!-- <form method="POST">
            {% csrf_token %}
            
            <a href="{% url 'stu_question' i.id %}">
                <input type="hidden" name="categoryName" value="{{i.name}}">
                <input type="submit" value="{{i.name}}" class="btn btn-primary">
            </a>
            
        </form> -->
        {% endfor %}
    </div>

</div>


{% if msg %}
<script>alert('{{ msg }}')</script>
{% endif %}

{% endblock %}