{% extends 'stu_base.html' %}
{% load static %}
{% block content %}

<div>
    <h3>About us</h3>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore velit voluptate, blanditiis
        minus, magnam fuga enim illum sapiente incidunt molestiae officiis vero sed delectus sequi
        excepturi quo culpa asperiores corrupti? Ab, dolor esse natus possimus,
        maxime nisi praesentium sint odio officia, tempora molestias ea asperiores.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nam eveniet quasi ut fugiat harum perferendis,
        molestiae doloremque deserunt praesentium recusandae voluptates corrupti animi rem obcaecati minus dignissimos
        ducimus vero veritatis mollitia neque incidunt. Minus eligendi, nesciunt suscipit veritatis consequatur, commodi
        voluptatum atque tempora amet aperiam quam? Eaque culpa consequatur, eveniet ullam laborum, corrupti voluptas in
        unde voluptatibus magnam dignissimos placeat
    </p>
    <p>
        distinctio corporis molestias, repellat voluptates maxime quibusdam
        temporibus nobis dolores iure eius! Adipisci error vero tempore aliquam iure enim doloribus sapiente, facere
        harum voluptate dicta explicabo quos eum sequi autem corrupti quas dignissimos laborum! Sint facere ipsa, eaque
        voluptatibus iure rerum? Non perspiciatis doloremque impedit dolorem consequuntur facere deserunt quidem
        asperiores adipisci praesentium tenetur, dicta maxime est sequi aut incidunt voluptas, beatae nam nihil totam
        nisi rerum repellendus? Quas eligendi consequuntur
    </p>
    <p>
        incidunt temporibus tempore quae, nihil voluptates dolore
        iusto ut natus veritatis necessitatibus error? Laboriosam quaerat harum incidunt nihil quia esse placeat
        corrupti praesentium eum nisi quas, quae sed, obcaecati consequatur laudantium atque quo similique? Eum officia
        explicabo distinctio necessitatibus quibusdam perspiciatis qui quae ratione, eius ipsam dolorum cumque facilis
        rerum possimus quos perferendis corporis, nulla nisi. Minima in repellat, quisquam natus hic perferendis
        provident corrupti magni repellendus ipsa?
    </p>
</div>

{% endblock %}