{% extends 'stu_base.html' %}
{% load static %}
{% block content %}


<div>
    <h1>View all Test</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore velit voluptate, blanditiis
        minus, magnam fuga enim illum sapiente incidunt molestiae officiis vero sed delectus sequi
        excepturi quo culpa asperiores corrupti? Ab, dolor esse natus possimus,
        maxime nisi praesentium sint odio officia, tempora molestias ea asperiores.
    </p>
</div>
{% for i in  obj %}
    {{i.t_category}}
    {% if i.isappear %}
        complted
    {% else %}
        pending
    {% endif %}
{% endfor %}
<div class="table-div">
    <table class="content-table">
        <thead>
            <tr>
                <th>Test Name</th>
                <th>Status</th>
                <th>Completion Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Test 1</td>
                <td class="status-active"><strong>Completed</strong></td>
                <td>25/05/22</td>
                <td>
                    <a href="" class="btn">View Result</a>
                </td>
            </tr>

            <tr>
                <td>Test 2</td>
                <td><strong>Pending</strong></td>
                <td>----</td>
                <td>
                    <a href="" class="btn">Start Test</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}