{% extends 'stu_base.html' %}
{% load static %}
{% block content %}

                <div>
                    <h3>Test One | 25 Question | 15 Minutes</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore velit voluptate, blanditiis minus, magnam fuga enim illum sapiente incidunt molestiae officiis vero sed delectus sequi excepturi quo culpa asperiores corrupti? Ab, dolor esse natus possimus,
                        maxime nisi praesentium sint odio officia, tempora molestias ea asperiores.
                    </p>
                </div>
                <div class="question">
                    <form>
                        <!-- <h1>Q1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, eum?</h1>
                        <div class="opt">
                            <input type="radio" name="radio" id="radio1" class="radio" checked/>
                            <label for="radio1">First Option</label>
                        </div>

                        <div class="opt">
                            <input type="radio" name="radio" id="radio2" class="radio" />
                            <label for="radio2">Second Option</label>
                        </div>

                        <div class="opt">
                            <input type="radio" name="radio" id="radio3" class="radio" />
                            <label for="radio3">Third Option</label>
                        </div>

                        <div class="opt">
                            <input type="radio" name="radio" id="radio4" class="radio" />
                            <label for="radio4">Fourth Option</label>
                        </div>
                        <div class="sbmt">
                            <input type="submit" name="sbmt" />
                        </div> -->
                        
                        <!-- {% for i,j in final.items%}
                        <h1>Q{{forloop.counter}}.<br>{{i}}</h1>
                            {% for k in j %}
                                
                                <br>
                                <div class="opt">
                                    <input type="checkbox" name="radio" id="radio1"  />
                                    <label for="radio1">{{k}}</label>
                                </div>
                                {% endfor %}    
                        {% endfor %}     -->
                        {% for i,j in final.items%}        
                        <div>

                            <h3>Q{{forloop.counter}}.<br>{{i}}</h3>
                            {% for k in j %}
                            <label>
                              <input type="checkbox" class="radio" value="" name="fooby[1][]" /></label>
                            {{k}}
                              <br>
                              {% endfor %}    
                        </div>
                        {% endfor %}
                          


                        <!-- <div class="opt">
                            <input type="radio" name="radio" id="radio2" class="radio" />
                            <label for="radio2">Second Option</label>
                        </div>

                        <div class="opt">
                            <input type="radio" name="radio" id="radio3" class="radio" />
                            <label for="radio3">Third Option</label>
                        </div>

                        <div class="opt">
                            <input type="radio" name="radio" id="radio4" class="radio" />
                            <label for="radio4">Fourth Option</label>
                        </div>
                        <div class="sbmt">
                            <input type="submit" name="sbmt" />
                        </div> -->

                    </form>
                </div>
<script>
    // the selector will match all input controls of type :checkbox
// and attach a click event handler 
$("input:checkbox").on('click', function() {
  // in the handler, 'this' refers to the box clicked on
  var $box = $(this);
  if ($box.is(":checked")) {
    // the name of the box is retrieved using the .attr() method
    // as it is assumed and expected to be immutable
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    // the checked state of the group/box on the other hand will change
    // and the current value is retrieved using .prop() method
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});
</script>
              
{% endblock %}