{% extends 'stu_base.html' %}
{% load static %}
{% block content %}

                <div>
                    <h3>Test One | 25 Question | 15 Minutes</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore velit voluptate, blanditiis minus, magnam fuga enim illum sapiente incidunt molestiae officiis vero sed delectus sequi excepturi quo culpa asperiores corrupti? Ab, dolor esse natus possimus,
                        maxime nisi praesentium sint odio officia, tempora molestias ea asperiores.
                    </p>
                </div>
                <div class="question">
                    <form>
                        <h1>Q1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, eum?</h1>
                        <div class="opt">
                            <input type="radio" name="radio" id="radio1" class="radio" checked/>
                            <label for="radio1">First Option</label>
                        </div>

                        <div class="opt">
                            <input type="radio" name="radio" id="radio2" class="radio" />
                            <label for="radio2">Second Option</label>
                        </div>

                        <div class="opt">
                            <input type="radio" name="radio" id="radio3" class="radio" />
                            <label for="radio3">Third Option</label>
                        </div>

                        <div class="opt">
                            <input type="radio" name="radio" id="radio4" class="radio" />
                            <label for="radio4">Fourth Option</label>
                        </div>
                        <div class="sbmt">
                            <input type="submit" name="sbmt" />
                        </div>

                    </form>
                </div>

              
{% endblock %}