{% extends 'stu_base.html' %} {% load static %} {% block content %} 

{% if total_size %}
<div>
  <h3>Total {{total_size}} Question</h3>
</div>
<div>Time remaining until you can complete this quiz: <strong><span id="time"></span></strong></div>
{% endif %}

<div class="question">
  <form method="POST" id='YourFormID'>
    {% csrf_token %}
    <div class="stu_ques_row">
      {% for k in final %}

      <input
        type="hidden"
        readonly
        name="question{{forloop.counter}}"
        value="{{k}}"

      />

      {{forloop.counter}}. <spna> </spna>{{k}}<br />

      <input
        type="radio"
        name="{{forloop.counter}}"
        value="{{k.option1}}"
        required
      />
      {{k.option1}}<br />
      <input
        type="radio"
        name="{{forloop.counter}}"
        value="{{k.option2}}"
        required
      />
      {{k.option2}}<br />
      <input
        type="radio"
        name="{{forloop.counter}}"
        value="{{k.option3}}"
        required
      />
      {{k.option3}}<br />
      <input
        type="radio"
        name="{{forloop.counter}}"
        value="{{k.option4}}"
        required
      />
      {{k.option4}}<br />

      <br>
      {% endfor %}
    </div>

    <div class="sbmt">
      <input type="submit" name="sbmit"  />
    </div>
  </form>
</div>
<script>
// window.setInterval(function(){ 
    // document.getElementById("YourFormID").submit(); 
// },15000); 

var mins = 1;  //Set the number of minutes you need
    var secs = mins * 60;
    var currentSeconds = 0;
    var currentMinutes = 0;
    /* 
     * The following line has been commented out due to a suggestion left in the comments. The line below it has not been tested. 
     * setTimeout('Decrement()',1000);
     */
    setTimeout(Decrement,1000); 

    function Decrement() {
        currentMinutes = Math.floor(secs / 60);
        currentSeconds = secs % 60;
        if(currentSeconds <= 9) currentSeconds = "0" + currentSeconds;
        secs--;
        document.getElementById("time").innerHTML = currentMinutes + ":" + currentSeconds; //Set the element id you need the time put into.
        if(secs !== -1) {
          console.log('inside if');
          setTimeout('Decrement()',1000); 
        }
        else {
          document.getElementById("YourFormID").submit();
          console.log('inside else');
        }
    }
</script>
{% endblock %}
