<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Profile Update</title>
</head>

<body>
    <div class="form">
        <h1 class="formh1" style="color: blue;">Student Profile Update</h1>
        </br>
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Name" name="name" value="{{show_data.name}}"/>
            <input readonly placeholder="Email" value="{{show_data.email}} "/>
            <input readonly placeholder="Enrollment" value="{{show_data.Enrollment_No}}"/>
            <input type="password" placeholder="Password" name="password" value="{{show_data.password}}"/>
            <br>
            <br>
            <input type="submit" value="Submit" />
        </form>
    </div>
    {% if msg %}
    <script>alert('{{ msg }}')</script>
    {% endif %}

</body>

</html>