<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Signup</title>   
</head>
<body>
    <div class="signinform">
        <div class="form">
            <h1 class="formh1" style="color: blue;">Student Sign In</h1>
        </br>
            <p class="para-2">
                Student Sign Up form
            </p>
            </br>
            <form method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Name" name="name"/>
                <input type="email" placeholder="Email" name="email"/>
                <input type="password" placeholder="Password" name="password" />
                <input type="password" placeholder="Confirm Password" name="con_password" />
                <br>
                <br>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>


    {% if msg %}
	<script>alert('{{ msg }}')</script>
	{% endif %}
</body>
</html>