{% extends 'admin_base.html' %}
{% load static %}
{% block content %}


            <div class="viewtabledrd">
                <div style="width:200px;">
                    <a class="button button1 " href={% url 'add_category' %}><img
                        src="{% static 'icon/create.png' %}" height="20px" width="20px">Add category</a>
                </div>
                <div class="card table viewtbtn">
                    
                    <div class="card viewtest">
                        <h3 class="tableheading" style="font-weight: bold;">&nbsp &nbsp &nbsp View Test category</h3>
                    </div>
                    <table>
                        <tr>
                            <th>Category Name</th>
                        </tr>
                        {% for i in obj %}
                        <tr>
                            <td>{{i}}</td>
                            <td>
                                <a href="{% url 'editcategory' i.id %}"><img src="{% static 'icon/edit.png' %}" height="30px" width="30px"></a>
                            </td>
                                
                            <!-- <td><a href="{% url 'editcategory' i.id %}">edit</a></td> -->
                            <!-- <td><a href="{% url 'delcategory' i.id %}">Delete</a></td> -->
                        </tr>
                        {% endfor %}
                        
                    </table>
            </div>
            </div>
{% endblock %}