{% extends 'admin_base.html' %}
{% load static %}
{% block content %}

<div class="viewtabledrd">
    <div class="card table viewtbl">
        <div class="card viewtest">
            <h3 class="tableheading" style="font-weight: bold;">&nbsp &nbsp &nbsp View Test category</h3>
        </div>
        <table>
            <tr>
                <th>Category Name</th>
            </tr>
            {% for i in obj %}
            <tr>
                <td>{{i}}</td>

                <td><a href="{% url 'editcategory' i.id %}">edit</a></td>
                <!-- <td><a href="{% url 'delcategory' i.id %}">Delete</a></td> -->
            </tr>
            {% endfor %}

        </table>

    </div>

</div>

{% endblock %}